.question-card {
    width: 450px;
    margin: 15px;
    padding: 20px;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgreen;
}

.question-card > button {
    width: 150px;
    padding: 10px;
    margin: 10px 150px;
}

.answer-card {
    margin: 15px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}